@import "../../styles/variables";

@mixin button-disabled($disabled-background: #ddd) {
  background-color: $disabled-background;
  &:hover,
  &:focus,
  &:active {
    cursor: not-allowed;
    outline: 0;
    background-color: $disabled-background;
  }
}

.comp-button {
  height: 36px;
  padding: 5px 14px;
  font-size: $text-md;
  background-color: $primary-color;
  color: $white;
  border-radius: 8px;
  border: none;

  &:hover {
    background-color: $brand-700;
    cursor: pointer;
  }

  &:focus,
  &:active {
    outline: 3px solid $brand-300;
  }

  &--primary.comp-button--disabled {
    @include button-disabled($brand-200);
  }

  // Sizes
  &--sm {
    font-size: $text-sm;
    height: 32px;
    padding: 5px 10px;
  }

  &--lg {
    font-size: $text-lg;
    height: 40px;
    padding: 5px 18px;
  }

  &--xl {
    font-size: $text-xl;
    height: 44px;
    padding: 5px 22px;
  }

  &--2xl {
    font-size: $text-xxl;
    padding: 5px 28px;
    height: 52px;
  }

  // States
  &--secondary {
    background-color: $secondary-color;
    color: $brand-700;

    &:hover {
      background-color: $brand-100;
    }

    &:focus,
    &:active {
      outline: 3px solid $brand-300;
    }
  }

  &--secondary.comp-button--disabled {
    @include button-disabled($brand-25);
    color: $brand-300;
  }

  &--success {
    background-color: $success-color;

    &:hover {
      background-color: $success-700;
    }

    &:focus,
    &:active {
      outline: 3px solid $success-300;
    }
  }

  &--success.comp-button--disabled {
    @include button-disabled($success-200);
  }

  // create a mixin for styles that will be there in disabled modifier.
  // you only need color that will be based on the state of the component
  // mixin should accept color prop, this way you can just use one definition
  // call mixin using include syntax passing your theme based color for every instance

  &--error {
    background-color: $error-color;

    &:hover {
      background-color: $error-700;
    }

    &:focus,
    &:active {
      outline: 3px solid $error-300;
    }
  }
  &--error.comp-button--disabled {
    @include button-disabled($error-200);
  }

  &--warning {
    background-color: $warning-color;

    &:hover {
      background-color: $warning-700;
    }

    &:focus,
    &:active {
      outline: 3px solid $warning-300;
    }
  }

  &--warning.comp-button--disabled {
    @include button-disabled($warning-200);
  }

  &--link {
    padding: 0;
    height: 0;
    color: $brand-700;
    &:hover {
      background-color: #ffff;
      color: $brand-800;
    }

    &:focus,
    &:active {
      color: $brand-700;
    }
  }
  &--link.comp-button--disabled {
    color: $gray-300;
    cursor: not-allowed;
  }

  &--only-icon {
    padding: 10px;
    width: auto;
  }
}
