@import '../../styles/variables';

.comp-button {
  padding: 0px;
  width: 106px;
  height: 36px;
  font-size: $text-md;
  background-color: $primary-color;
  color: $white;
  border-radius: 8px;
  border: none;

  &:hover {
    background-color: $brand-700;
    cursor: pointer;
  }

  &:focus,
  &:active {
    outline: 3px solid $brand-300;
  }

  // Sizes
  &--sm {
    font-size: $text-sm;
  }

  &--lg {
    font-size: $text-lg;
    width: 125px;
    height: 44px;
  }

  &--xl {
    font-size: $text-xl;
    width: 129px;
    height: 48px;
  }

  &--2xl {
    font-size: $text-xxl;
    width: 156px;
    height: 60px;
  }

  // States
  &--secondary {
    background-color: $secondary-color;
    color: $brand-700;

    &:hover {
      background-color: $brand-100;
    }

    &:focus,
    &:active {
      outline: 3px solid $brand-300;
    }
  }

  &--success {
    background-color: $success-color;

    &:hover {
      background-color: $success-700;
    }

    &:focus,
    &:active {
      outline: 3px solid $success-300;
    }
  }

  &--error {
    background-color: $error-color;

    &:hover {
      background-color: $error-700;
    }

    &:focus,
    &:active {
      outline: 3px solid $error-300;
    }
  }

  &--warning {
    background-color: $warning-color;

    &:hover {
      background-color: $warning-700;
    }

    &:focus,
    &:active {
      outline: 3px solid $warning-300;
    }
  }
}
