@import '../../styles/variables';

.btn {
    background-color: $primary--color;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      background-color: darken($primary--color, 10%);
      box-shadow: $shadow--lg;
    }
  }
  